* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
input,
button,
select {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: transparent;
}
.container {
  width: 1420px;
  height: 100%;
}
.container {
  width: 1420px;
  height: 100%;
}
.site_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(216, 216, 216, 0.92);
  box-shadow: 1px 1px 10px 1px #33333370;
}
.site_header:hover {
  transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: rgb(216, 216, 216);
}
.gnb li {
  width: 500px;
  padding: 3px 0;
  text-align: center;
}
.site_header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gnb li a:hover {
  color: #494040;
}

.logo {
  color: #333;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
}
.logo:hover::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: #494040;
}
.gnb {
  width: 500px;
}
.slideContainer {
  margin-top: 100px;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.slide {
  display: flex;
  width: 800%;
  height: 100%;
  animation: slide 24s infinite;
}

.slide li {
  flex: 1;
  width: 12.5%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.slide li > .title {
  font-size: 6em;
  line-height: 62.5vh;
  opacity: 0.577;
  color: #f3f3f3;
  transition: 0.3s ease-out;
}
.slide li > p {
  color: #786b6b;
  font-size: 2.5em;
}
.title::before {
  content: "";
  width: 20px;
  height: 100%;
}

.slide:hover {
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes slide {
  0%,
  10% {
    margin-left: -0%;
  }
  12.5%,
  22.5% {
    margin-left: -100%;
  }
  25%,
  35% {
    margin-left: -200%;
  }
  37.5%,
  47.5% {
    margin-left: -300%;
  }
  50%,
  60% {
    margin-left: -400%;
  }
  62.5%,
  72.5% {
    margin-left: -500%;
  }
  75%,
  85% {
    margin-left: -600%;
  }
  87.5%,
  100% {
    margin-left: -700%;
  }
}

.slide li:nth-child(1) {
  background-image: url(../iamges/img01.jpg);
}
.slide li:nth-child(2) {
  background-image: url(../iamges/img02.jpg);
}
.slide li:nth-child(3) {
  background-image: url(../iamges/img03.jpg);
}
.slide li:nth-child(4) {
  background-image: url(../iamges/img04.jpg);
}
.slide li:nth-child(5) {
  background-image: url(../iamges/img05.jpg);
}
.slide li:nth-child(6) {
  background-image: url(../iamges/img06.jpg);
}
.slide li:nth-child(7) {
  background-image: url(../iamges/img07.jpg);
}
.slide li:nth-child(8) {
  background-image: url(../iamges/img08.jpg);
}
.down > a {
  display: block;
}
.down {
  position: absolute;
  left: 50%;
  top: 57%;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  scale: 2;
  opacity: 0.577;
  border-radius: 50%;
  transition: 0.3s ease-out;
  color: #f3f3f3;
  border: 1px solid #f3f3f3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.down:hover {
  opacity: 1;
}
.slide:hover li > .title {
  opacity: 1;
}
.s_title {
  padding: 0 10px;
  margin-bottom: 10px;
  color: #786b6b;
  font-size: 3.5em;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.s_title::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  width: 7px;
  height: 100%;
  background-color: #494040;
}

.s_title span {
  color: #999999;
  font-size: 0.5em;
}

.section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section > .container {
  padding: 30px;
}

